{% extends "landing/base.html" %}

{% load staticfiles %}

{% block description %}Descripcion del negocio{% endblock description %}

{% block title %}Pelotas - AnimalKingDog{% endblock title %}

{% block statics %}
<link rel="stylesheet" href="{% static 'juguetes/css/lista_pelotas.css' %}">
<script src="{% static 'juguetes/js/lista_pelotas.js' %}"></script>
{% endblock statics %}

{% block content%} 
<section id="pelotas" class="product-list-container">
	<div class="product-list-separator"></div>
	<h2 class="product-list-title">Pelotas</h2>
	{% if not pelotas %}
	<h2>No hay pelotas para mostrar</h2>
	{% else%}
	{% for pelota in pelotas %}
	<article class="product-container">
		<figure>
			<img src="{{pelota.foto.url}}" alt="" width='220' height='220'>
		</figure>
		<a href="#">Detalles</a>
	</article>
	{% endfor %}
	{% endif %}
</section>
{% endblock content%}