body
{
	background: yellow;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1
{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 35%;
}

h1 figure
{
	margin: 0;
	padding: 0;
}

h1 img
{
	height: 100%;
	width: 100%;
}

header
{
	background: gray;
	height: 80px;
	position: relative;
	text-align: center;
}

nav
{
	display: inline-block;
	height: 100%;
	margin: 0;
	vertical-align: top;
	width: 64%;
}

nav ul
{
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

nav a
{
	color: white;
	text-decoration: none;
}

#banner
{
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 90%;
	z-index: -1;
}

#banner:before
{
	content: "";
	display: block;
	padding-top: 30%;
}

#banner-bar
{
	background: rgba(20,20,20,0.5);
	bottom: -0.1em;
	margin: 0 auto;
	padding-bottom: 0.2em;
	padding-top: 0.5em;
	position: absolute;
	width: 100%;
	z-index: 2;
}

#menu-accesorios, #menu-juguetes
{
	height: 0;
	overflow: hidden;
	position: absolute;
	text-align: left;
	top: 64px;
	transition: all ease 0.2s;
}

#menu-accesorios li
{
	padding: 0.2rem 1.9rem 0.2rem 1rem;
}

#menu-juguetes li
{
	padding: 0.2rem 1.9rem 0.2rem 1rem;
}

#wrapper
{	
	margin: 0 auto;
	max-width: 1000px;
}

.banner-bar-indicator
{	
	background: white;
	display: inline-block;
	height: 15px;
	vertical-align: top;
	width: 15px;
	border-radius: 50%;
}

.banner-image
{
	position: absolute;
	top: 0em;
	transition: all ease 0.5s;
}

.dropdown-child
{
	background: rgba(0,0,0,0.8);
	border-bottom: 1px gray solid; 
	font-size: 1rem;
	font-style: italic;
	font-weight: 400;
}

.dropdown-child:hover
{
	background: rgba(100,100,100,0.8);
}

.link-menu
{
	display: inline-block;
	margin-top: 1em;
	position: relative;
	text-align: center;
	width: 19%;
}

.link-menu:hover
{
	background: black;
}

.menu-title
{
	font-size: 1.3em;
	font-style: italic;
	font-weight: 500;
	padding: 1.25rem 0;
}