{% extends "landing/base.html" %}

{% load staticfiles %}

{% block description %}Descripcion del negocio{% endblock description %}

{% block title %}Pecheras - AnimalKingDog{% endblock title %}

{% block statics %}
<link rel="stylesheet" href="{% static 'accesorios/css/lista_pecheras.css' %}">
<script src="{% static 'accesorios/js/lista_pecheras.js' %}"></script>
{% endblock statics %}

{% block content%} 
<section id="pecheras" class="product-list-container">
	<div class="product-list-separator"></div>
	<h2 class="product-list-title">Pecheras</h2>
	{% if not pecheras %}
	<h2>No hay pecheras para mostrar</h2>
	{% else%}
	{% for pechera in pecheras %}
	<article class="product-container">
		<figure>
			<img src="{{pechera.foto.url}}" alt="" width='220' height='220'>
		</figure>
		<a href="#">Detalles</a>
	</article>
	{% endfor %}
	{% endif %}
</section>
{% endblock content%} 