{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name='description' content='{% block description %} {% endblock description %}'>
	<title>{% block title %} {% endblock title %}</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}">
	<script src="{% static 'landing/js/jquery.min.js' %}"></script>
	<script src="{% static 'landing/js/base.js' %}"></script>
	{% block statics %} {% endblock statics %}
</head>
<body>
	<div id="wrapper">
	{% block header %}
	<header>
		<h1>
			<a href="{% url 'landing:home' %}">
				<figure>
					<img src="{% static 'landing/img/logo-grande.png' %}" alt="" width='300' height='130'>
				</figure>
			</a>		
		</h1>
		<nav>
			<ul>
				<div class="link-menu">
					<a href="{% url 'landing:home' %}"><li>Inicio</li></a>
				</div>
				<div class="link-menu accesorios">
					<a href="{% url 'accesorios:lista' %}"><li>Accesorios</li></a>
					<div id="menu-accesorios">
						<a href="{% url 'accesorios:lista_correas' %}"><li class="dropdown-child">Correas</li></a>
						<a href="{% url 'accesorios:lista_pecheras' %}"><li class="dropdown-child">Pecheras</li></a>
						<a href="{% url 'accesorios:lista_collares' %}"><li class="dropdown-child">Collares</li></a>
						<a href="{% url 'accesorios:lista_chalecos' %}"><li class="dropdown-child">Chalecos</li></a>
					</div>
				</div>
				<div class="link-menu juguetes">
					<a href="#"><li>Juguetes</li></a>
					<div id="menu-juguetes">
						<a href="#"><li class="dropdown-child">Pelotas</li></a>
					</div>
				</div>
				<div class="link-menu">
					<a href="#"><li>Nosotros</li></a>
				</div>
				<div class="link-menu">
					<a href="#"><li>Contacto</li></a>
				</div>
			</ul>
		</nav>
	</header>
	{% endblock header %}
	</div>
</body>
</html>