{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name='description' content='{% block description %} {% endblock description %}'>
	<title>{% block title %} {% endblock title %}</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}">
	<script src="{% static 'landing/js/jquery.min.js' %}"></script>
	<script src="{% static 'landing/js/base.js' %}"></script>
	{% block statics %} {% endblock statics %}
</head>
<body>
	<div id="wrapper">

	{% block header %}
	<header>
		<h1>
			<a href="{% url 'landing:home' %}">
				<figure>
					<img src="{% static 'landing/img/logo-grande.png' %}" alt="" width='300' height='130'>
				</figure>
			</a>		
		</h1>
		<nav>
			<ul>
				<div class="link-menu">
					<a href="{% url 'landing:home' %}"><li class="menu-title">Inicio</li></a>
				</div>
				<div class="link-menu accesorios">
					<a href="{% url 'accesorios:lista' %}"><li class="menu-title">Accesorios</li></a>
					<div id="menu-accesorios">
						<a href="{% url 'accesorios:lista_correas' %}"><li class="dropdown-child">Correas</li></a>
						<a href="{% url 'accesorios:lista_pecheras' %}"><li class="dropdown-child">Pecheras</li></a>
						<a href="{% url 'accesorios:lista_collares' %}"><li class="dropdown-child">Collares</li></a>
						<a href="{% url 'accesorios:lista_chalecos' %}"><li class="dropdown-child">Chalecos</li></a>
					</div>
				</div>
				<div class="link-menu juguetes">
					<a href="{% url 'juguetes:lista' %}"><li class="menu-title">Juguetes</li></a>
					<div id="menu-juguetes">
						<a href="{% url 'juguetes:lista_pelotas' %}"><li class="dropdown-child">Pelotas</li></a>
					</div>
				</div>
				<div class="link-menu">
					<a href="#"><li class="menu-title">Nosotros</li></a>
				</div>
				<div class="link-menu">
					<a href="#"><li class="menu-title">Contacto</li></a>
				</div>
			</ul>
		</nav>
	</header>
	{% endblock header %}

	{% block banner%} 
	<section id="banner">
		<article class="banner-image" id="banner-1">
			<img src="{% static 'landing/img/banner-1.jpg' %}" alt="" width="900" height="280">
		</article>
		<article class="banner-image" id="banner-2">
			<img src="{% static 'landing/img/banner-1.jpg' %}" alt="" width="900" height="280">
		</article>
		<article class="banner-image" id="banner-3">
			<img src="{% static 'landing/img/banner-1.jpg' %}" alt="" width="900" height="280">
		</article>
		<div id="banner-bar">
			<div class="banner-bar-indicator" id="indicator-1"></div>
			<div class="banner-bar-indicator" id="indicator-2"></div>
			<div class="banner-bar-indicator" id="indicator-3"></div>
		</div>
	</section>
	{% endblock banner%}
	
	{% block content %} {% endblock content %}

	{% block footer %}
	<footer>
		<section>
			<article class="footer-section">
				<h3 class="footer-title">Productos</h3>
				<ul>
					<li><a href="{% url 'accesorios:lista_correas' %}">Correas</a></li>
					<li><a href="{% url 'accesorios:lista_pecheras' %}">Pecheras</a></li>
					<li><a href="{% url 'accesorios:lista_collares' %}">Collares</a></li>
					<li><a href="{% url 'accesorios:lista_chalecos' %}">Chalecos</a></li>
					<li><a href="{% url 'juguetes:lista_pelotas' %}">Pelotas</a></li>
				</ul>
			</article>
			<article class="footer-section">
				<h3 class="footer-title">Contactanos</h3>
				<form action="{% url 'landing:contactar' %}" method="post">
					{% csrf_token %}
					<input type="email" name="email" id="email">
					<input type="submit" value="">
					<p>Dejanos tu Email</p>
				</form>
			</article>
			<article class="footer-section">
				<a href="{% url 'landing:home' %}">
					<figure>
						<img src="{% static 'landing/img/logo-grande.png' %}" alt="" width='250' height='110'>
					</figure>
				</a>	
				<p class="terms">Bogota - Colombia</p>
				<p class="terms">AnimalKingDog Todos los derechos reservados</p>	
			</article>
		</section>
	</footer>
	{% endblock footer %}

	</div>
</body>
</html>